node_modules

.next
.next/dev
out
build
dist
*.log

# Environment files
.env
.env.local
.env*.local


# Large video files
public/videos/*.mp4
public/videos/*.MOV
public/videos/*.mov

# Large video files (>100MB)
public/videos/1000330055.mp4
public/videos/1000330061.mp4
public/videos/1000330062.mp4
public/videos/Prakhar & Priyanka.mp4
.vercel
